# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.make
*.cmake
*.includecache
*.internal
*.txt
*.marks

common/
CMakeFiles/
ie_cpu_extension/
thirdparty/

Makefile
intel64/Release/interactive_face_detection_demo
intel64/Release/smart_classroom_demo